<html>
<head></head>
<body>
      <%- include("Admin_navbar.ejs")  %>
       

       <% temp.forEach(function(i){ %>
              <div>
                     
                    <p> <%= i.id+" "+i.name+"   "+i.mobileno +"  "+i.email" %></p>
                            
                           
                     
              </div>
      <% }); %>
</body>
</html>