<html>
<head>
     <style>
	     div{
           margin-left: 15%;
          font:2px;
		   color:green;
		 }
         body {
       background-image: url('new.jpg');
       background-size: 1610px;
       background-repeat: no-repeat;
     }
     input[type=submit]
     {
         color:black;
        
         font-size: 30px;
         margin-left: 2%;
     }
     body 
     {
         background-color:rgb(83, 80, 80);
     }
	 </style>
</head>
<body>
    <div>
        <form action="/user" method="get"><br><br><br><br><br><br><br><br><br><br><br><br>
            <input type="submit" value="User">
        </form>
    </div>
    <div>
        <form action="/car_owner" method="get"><br>
            <input type="submit" value="Car Owner">
        </form>
    </div>
</body>
</html>